#title {
    text-align: center;
}

#crninput {
    text-align: center;
}

#names {
    float: left;
}

#reg-details {
    text-align: center;
    display: none;
}

#reg-details > table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#countdown {
    text-align: center;
    font-size: 1000%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(55,197,237);
    color: black;
    text-align: center;
}
