#title {
	text-align:center;
}
#crninput {
	text-align:center;
}
#names {
	float:left;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(55,197,237);
	color: black;
	text-align: center;
}